body{
     background-color:#f8dcb4;
     font-family: cursive;
}

article{
    display: flex;
    flex-wrap: wrap;
}
.cuadrados{
    background-color: #9c7a9d;
    display: flex;
    border: 10px solid #a75293;
    width: 350px;
    height: 300px;
    margin: 20px;
    display: flex;
    justify-content: center;
}

h1{
    font-size: 50px;
    text-align: center;
    text-decoration: underline;
}

.cuadrados:hover {
    transform: scale(1.05) ;
    background-color:  #a75293;
    border-color:  #9c7a9d;
    display: flex;
    justify-content: center;
  }

  div{
   justify-content: center;
    display: flex;
    text-align: center;
  }

  .titulitos{
    font-size: 35px;
    margin: auto;
   
  }